# Created by .ignore support plugin (hsz.mobi)
.idea
DataHouse/__pycache__/
DataHouse/crawler/__pycache__/
DataHouse/spiders/__pycache__/
DataSet
DataHouse/ml/loginfo.log
DataHouse/config/weibo_cookies.txt
DataHouse/zhihu/zhihu_live.log
DataHouse/zhihu/zhihu_course.log
DataHouse/zhihu/zhihu_answer.log
DataHouse/zhihu/163mail.ini
